@import "tailwindcss";

/* Puedes añadir estilos globales aquí */
body {
  @apply bg-neutral-950 text-white font-sans;
}

html {
  scroll-behavior: smooth;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 15s ease infinite;
}
