---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Intro from "../components/Intro.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Experience from "../components/Experience.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>.dev</title>
    <link rel="icon" type="image/png" href="/logo-head.png" />
  </head>
  <body
    class="animate-gradient bg-gradient-to-br from-blue-700 via-green-800 to-black"
  >
    <Navbar />
    <main>
      <section id="intro"><Intro /></section>
      <section id="projects"><Projects /></section>
      <section id="experience"><Experience /></section>
      <section id="contact"><Contact /></section>
    </main>
  </body>
</html>
