---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Hugo González Portilla – Portfolio</title>
  </head>
  <body class="bg-neutral-950 text-white">
    <Navbar />
    <main>
      <section id="hero"><Hero /></section>
      <section id="projects"><Projects /></section>
      <section id="contact"><Contact /></section>
    </main>
  </body>
</html>