---

---

<section
  id="inicio"
  class="relative min-h-screen flex items-center justify-center overflow-hidden"
>
  <div class="absolute inset-0 -z-10"></div>

  <div class="z-10 text-center">
    <h1 class="text-5xl font-bold mb-4">Hola, soy Hugo González Portilla</h1>
    <p class="text-xl max-w-xl mx-auto">
      Recién Graduado en Ingeniería Informática, preparado para dar el salto al
      mundo profesional. Busco nuevos retos que me permitan seguir aprendiendo,
      crecer en nuevos entornos y aportar desde el primer día.
    </p>
  </div>

  <script>
    const { animate, inView } = await import("@motionone/dom");

    // Trigger animations when this section comes into view
    inView("#inicio", () => {
      animate("#inicio h1", { opacity: [0, 1], y: [-50, 0] }, { duration: 1 });
      animate(
        "#inicio p",
        { opacity: [0, 1], y: [30, 0] },
        { delay: 0.5, duration: 1 }
      );
    });
  </script>
</section>
