---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav
  id="navbar"
  class="fixed top-0 left-0 w-full bg-white/70 dark:bg-neutral-900/60 text-neutral-900 dark:text-white backdrop-blur-md border-b border-neutral-200 dark:border-neutral-800 shadow-md rounded-b-xl z-50 transition-transform duration-300"
>
  <div class="max-w-6xl mx-auto px-4 py-3 flex justify-between items-center">
    <a href="https://hupog.dev" class="text-lg font-bold">hupog.dev</a>
    <div class="flex items-center space-x-4">
      <ul class="flex space-x-6 text-sm">
        <li><a href="#inicio" class="hover:underline">Inicio</a></li>
        <li><a href="#projects" class="hover:underline">Proyectos</a></li>
        <li><a href="#experience" class="hover:underline">Experiencia</a></li>
        <li><a href="#contact" class="hover:underline">Contacto</a></li>
      </ul>
      <ThemeToggle />
    </div>
  </div>

  <script>
    let lastScroll = 0;
    const navbar = document.getElementById("navbar");

    window.addEventListener("scroll", () => {
      const currentScroll = window.pageYOffset;

      if (navbar) {
        if (currentScroll > lastScroll && currentScroll > 50) {
          navbar.style.transform = "translateY(-100%)"; // Oculta
        } else {
          navbar.style.transform = "translateY(0)"; // Muestra
        }
      }

      lastScroll = currentScroll;
    });
  </script>
</nav>
